@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.main {
    margin: 0;
    padding: 0;
    background: #4075cd;
    font-family: "Quicksand", sans-serif;
}

.navi_un_list {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}

.navi_un_list_items {
    display: inline-block;
}

.navi {
    background-color: #4577ED;
    text-align: center;
    box-shadow: 2px 2px 2px #000;
    position: fixed;
    left: 0;
    right: 0;
}

.navi_un_list {
    padding-top: 15px;
}

.navi_un_list_link,
.dropdown_link {
    height: 50px;
    width: 100px;
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    background-color: #0a81ac;
    border-radius: 4px;
    transition: 2s;
}

.navi_un_list_link:hover,
.dropdown_link:hover {
    background-color: #3255a7;
    border-radius: 14px;
    width: 120px;
    height: 60px;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    box-shadow: 2px 2px 2px #810606;
}

.dropdown_items {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}

.navi_un_list_items:hover .dropdown {
    display: block;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    padding-top: 42vh;
    text-align: center;
    background: url("https://www.betterlifewisdom.com/wp-content/uploads/2019/01/kyoto-1860521_1920.jpg") center/cover;
    overflow: hidden;
}

.jumbotron .main_heading {
    margin: 0;
    font-size: 38px;
    font-weight: 500px;
    color: white;
    font-family: "Quicksand", sans-serif;
}

.jum_button {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #4577ED;
    font: 20px "Quicksand", sans-serif;
    color: #fff;
    border-radius: 6px;
    transition: all 1s;
    border: none;
}

.jum_button:hover {
    color: #f30000;
    font-size: 25px;
    font-weight: 900;
    background-color: #000;
}

.jum_button:active {
    border: 3px solid red;
}

.jum_button {
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.gallery_img {
    float: left;
    width: 25%;
}

.gallery::before,
.gallery::after {
    clear: both;
    display: table;
    content: "";
}

.gallery_img:hover {
    opacity: .8;
    cursor: pointer;
}

@media (max-width: 468px) {
    .gallery_img {
        width: 100%;
        float: none;
    }
}

.buttons {
    text-align: center;
}

[class^="btn-"] {
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 30px;
    min-width: 200px;
    font: 16px bold;
    border-radius: 5px;
    cursor: pointer;
    background: inherit;
    border: 2px solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: .4s;
}

[class^="btn-"]:hover {
    background-position: 0 100%;
    color: white;
}

.btn-purple {
    color: #8e44ad;
    border-color: #8e44ad;
    background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%);
}

.btn-yellow {
    color: #f1c40f;
    border-color: #f1c40f;
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
}

.btn-blue {
    color: #3498db;
    border-color: #3498db;
    background-image: linear-gradient(135deg, #3498db 50%, transparent 50%);
}

.stars {
    text-align: center;
}

.star8 {
    display: inline-block;
    margin: 2em;
    transform: rotate(22deg);
    transition: background linear .3s;
    box-sizing: content-box;
    text-align: left;
}

.star8::before {
    background-color: #fff;
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    transform: rotate(45deg);
}

.star8,
.star8::before,
.star_icon {
    height: 80px;
    width: 80px;
}

.gold,
.gold::before {
    border: 6px solid #ffc107;
}

.orange,
.orange::before {
    border: 6px solid #fd7e33;
}

.blue,
.blue::before {
    border: 6px solid #3fb0ac;
}

.star_icon {
    margin: 0;
    position: absolute;
    background-color: #fff;
    font-size: 60px;
}

.star_icon::before {
    transform: rotate(-22deg);
    position: absolute;
    margin: 10px;
}

.gold:hover::before,
.gold:hover,
.gold:hover .star_icon {
    background-color: #ffc107;
    color: #fff;
    transition: all ease-in-out .3s;
}

.orange:hover::before,
.orange:hover,
.orange:hover .star_icon {
    background-color: #fd7e33;
    color: #fff;
    transition: all ease-in-out .3s;
}

.blue:hover::before,
.blue:hover,
.blue:hover .star_icon {
    background-color: #3fb0ac;
    color: #fff;
    transition: all ease-in-out .3s;
}

.social_second_heading {
    color: #dfb300;
    font-size: 30px;
    text-align: center;
}

.social {
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
    text-align: center;
    padding: 50px;
}

.icon-btn {
    width: 75px;
    height: 75px;
    border: 0;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    font-size: 40px;
    background-color: #fff;
}

.button_twitter {
    color: #4099FF;
}

.button_facebook {
    color: #3B5998;
}

.button_google-plus {
    color: #DB5A3C;
}

.button_instagram {
    color: #5C3D2E;
}

.button_git {
    color: #4183C4;
}

.icon-btn:hover .link_icon {
    transform: scale(1.10);
    color: #fff;
}

.twitter:hover {
    background-color: #4099FF;
}

.facebook:hover {
    background-color: #3B5998;
}

.google-plus:hover {
    background-color: #DB5A3C;
}

.instagram:hover {
    background-color: #5C3D2E;
}

.github:hover {
    background-color: #4183C4;
}
