@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
    margin: 0;
    padding: 0;
    background: lightblue;
    font-family: "Quicksand";
}
ul {
    padding: 0;
    margin-top: 0;
    list-styl-type: none;
}
nav ul li {
    display: inline-block;
}
nav {
    backround-color: #4577ED;
    text-align: center;
}
a {
    height: 50px;
    width: 100px;
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    background-color: #0a81ac;
    border-radius: 4px;
    transition: width 2s, height 2s, background-color 2s, ease 2s, color 2s, font-weight 2s, font-size 2s;
}
a:hover {
    background-color: #3255a7;
    border-radius: 14px;
    width: 120px;
    height: 60px;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
nav ul ul li {
    display: block;
}
nav li .dropdown {
    display: none;
    position: absolute;
}
nav li:hover .dropdown {
    display: block;
}
