body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.hero {
	text-align: center;
	background: url('/static/lessons/alignment.jpg') 0/cover;
	height: 100px;
	line-height: 50px;
	overflow: auto;
	color: #fff;
	box-shadow: 2px 2px 5px #444;
}
h1 {
	text-shadow: 2px 2px 5px #444;
}
.container {
	width: 80%;
	max-width: 700px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 2px 2px 5px #444;
	margin: 20px auto;
}
.row {
	display: flex;
	border: 5px solid #34495e;
	margin-bottom: 10px;
	height: 120px;
}
.box {
	background: #3498db;
	text-align: center;
	font-weight: 700;
	height: 40px;
	width: 40px;
}
.footer {
	padding: 20px;
	text-align: center;
	font-size: 10px;
}
.flex-centering {
	justify-content: center;
	align-items: center;
}
.center-margin {
	margin: auto;
}
