@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #2980b9;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 200%;
    text-shadow: 1px 1px 1px #000;
}
.hero {
    background: url('/static/lessons/16.jpg') center;
    background-size: cover;
    min-height: 150px;
    box-shadow: 1px 1px 3px #000;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px #000;
    text-align: center;
}
.example,
.exercise {
    padding-bottom: 20px;
}
.example button {
    padding: 20px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #27ae60;
    width: 40%;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    animation: buttonPulse 1s infinite;
}
.example button:hover {
    background-color: #2ecc71;
}
@keyframes buttonPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
/*EXERCISE*/

.practice-button {
    border: none;
    padding: 20px;
    outline: none;
    background-color: #f39c12;
    color: #fff;
    animation: buttonColor 2s infinite;
}

@keyframes buttonColor {
    from {
    background-color: #f39c12;
}
    to {
    background-color: blue;
}
}
