@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #2980b9;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 200%;
    text-shadow: 1px 1px 1px #000;
}
.hero {
    background: url('/static/lessons/4.jpg') bottom;
    background-size: cover;
    min-height: 150px;
    box-shadow: 1px 1px 3px #000;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px #000;
    text-align: center;
}
.example,
.exercise {
    padding-bottom: 20px;
}
.example button {
    padding: 20px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #27ae60;
    width: 40%;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 1s;
}
.example button:hover {
	background-color: #2ecc71;
	color: #fff;
	transform: matrix(1.1, 0.03, 0.03, 1.2, 30, 10);
}


/*EXERCISE*/

.exercise-element {
	color: #fff;
	width: 50%;
	padding: 10px;
	margin: 30px auto;
	background-color: #e74c3c;
	text-transform: uppercase;
	transition-duration: 2s;
}
