@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext);
body {
	font-family: 'Source Sans Pro';
	font-size: 0.9em;
	margin: 0;
	background-color: #ecf0f1;
}
.container {
	width: 70%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

header {
    background: #34495e;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
}

footer {
    background: #34495e;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
}

nav ul {
    margin: 0;
    float: right;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 0 7px;
    color: inherit;
}
