body {
	margin: 0;
}
.header {
	text-align: center;
	background-color: #ecf0f1;
	padding: 20px;
	position: fixed;
	left: 0;
	right:0;
	border: 10px solid gold;
}
.container {
	padding: 50px;
}
.footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    background-color: #ccc;
    text-align: center;
    border: 10px solid gold;
    padding: 20px;
}

div {border: 5px solid;}

* {box-sizing: border-box;}
.container {
	max-width: 500px;
	margin: auto;
	border-color: #1abc9c;
}
.row {
	border-color: #34495e;
	overflow: auto;
	margin-bottom: 10px;
}
.col {
	border-color: #2ecc71;
	padding: 10px;
	float: left;
}
.col-1 {width: 8.334%}
.col-2 {width: 16.667%}
.col-3 {width: 25%}
.col-4 {width: 33.334%}
.col-5 {width: 41.667%}
.col-6 {width: 50%}
.col-7 {width: 58.334%}
.col-8 {width: 66.667%}
.col-9 {width: 75%}
.col-10 {width: 83.334%}
.col-11 {width: 91.667%}
.col-12 {width: 100%}


* {box-sizing: border-box;}
body {
	margin: 0;
	background-color: #2ecc71;
}
.container {
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
}
.row {
	overflow: auto;
}
.col {
	border: 3px solid #f1c40f;
	padding: 5px;
	float: left;
}
.col-1 {width: 8.334%}
.col-2 {width: 16.667%}
.col-3 {width: 25%}
.col-4 {width: 33.334%}
.col-5 {width: 41.667%}
.col-6 {width: 50%}
.col-7 {width: 58.334%}
.col-8 {width: 66.667%}
.col-9 {width: 75%}
.col-10 {width: 83.334%}
.col-11 {width: 91.667%}
.col-12 {width: 100%}

@media (max-width: 468px) {
    .col {
    width: 100%;
    float: none;
    }
}
