body {
	text-align: center;
	margin: 0;
}
.header {
	background-color: #aaa;
	padding: 10px;
	color: #fff;
}
p {
    text-align: justify;
    padding: 0 50px;
}
.content {
	width: 500px;
	margin: 0 auto;
}
