.page {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: #4fb801;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 5px;
    justify-content: flex-end;
    width: 100%;
}

.menu_item {
    padding: 5px;
    justify-content: flex-end;
}

.item_link {
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: 900;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ca1212;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image {
    padding: 1%;
    width: 380px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 100%;
}

.paragraph {
    width: 200px;
    margin: 2px;
    background-color: #7b6c6c;
    color: #fff;
}
