@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
	background-color: #f39c12;
}
.container {
	background-color: #fff;
	padding: 20px;
	max-width: 600px;
	margin: auto;
	border-radius: 4px;
}
h1 {
	text-align: center;
}
.serif {
	font-family: 'Lora', serif;
}
.sans-serif {
	font-family: 'Open Sans', sans-serif;
}
.monospace {
	font-family: 'Inconsolata', monospace;
}
.handwritting {
	font-family: 'Pacifico', cursive;
}
