@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    background-color: #2ecc71;
    font-family: 'Open Sans';
}
.container {
    max-width: 650px;
    min-width: 350px;
    width: 70%;
    margin: 15px auto;
    text-align: justify;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
}
