body {
	padding: 0;
	margin: 0;
    background: #16a085;
	font-family: 'Open Sans', sans-serif;
}
.hero {
    background: url(/static/lessons/17.jpg) center;
	background-size: cover;
	height: 150px;
	box-shadow: 1px 1px 3px #000;
	}
.hero > p {
	margin: 0;
	padding-top: 40px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
	font-size: 42px;
	color: #fff;
}
.box {
    width: 80%;
    min-height: 200px;
    margin: 15px auto;
    padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000;
    background-color: white;
    text-align: center;
}
ul {
    list-style-type: none;
}
a {
	color: blue;
	text-decoration: none;
}
button {
	font-size: 150%;
	text-transform: uppercase;
	outline: none;
	border: 2px solid #3498db;
	background-color: #fff;
	color: #3498db;
	height: 50px;
	width: 100%;
	transition-duration: 1s;
}
button:active {
	border: 2px solid #fff;
	background-color: #3498db;
	color: #fff;
	transform: rotateX(360deg);
}
a:hover {
	color: yellow;
}
a:active {
    color: red;
}
