* {
    outline: none;
}
body {
	padding: 0;
	margin: 0;
    background: #16a085;
	font-family: 'Open Sans', sans-serif;
}
.hero {
    background: url(/static/lessons/17.jpg) center;
	background-size: cover;
	height: 150px;
	box-shadow: 1px 1px 3px #000;
	}
.hero > p {
	margin: 0;
	padding-top: 40px;
	text-align: center;
	text-shadow: 1px 1px 3px #000;
	font-size: 42px;
	color: #fff;
}
.box {
    width: 80%;
    min-height: 200px;
    margin: 15px auto;
    padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000;
    background-color: white;
}
textarea {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	resize: none;
	height: 200px;
	border: 1px solid #ccc;
	padding: 10px;
}
form input {
	border: 1px solid #ccc;
    display: block;
    box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
form > input:focus {
    border: 1px solid blue;
}
form > textarea:focus {
    border: 2px dashed red;
}  
