body {
    background: lightgreen;
    font-family: Georgia, Arial, Helvetica;
}

.container {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}


body {
    background: lightgreen;
    font-family: Georgia, Arial, Helvetica;
}

.container {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.head {
    color: red;
}

.intro {
    color: green
}


body {
    background: green;
    font-size: 18px;
    font-family: Arial;
}
.container {
    max-width: 500px;
    width: 70%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
h1 {
    text-align: center;
    font-weight: bold;
}
h1, h2 {
    font-family: Georgia;
}
p {
    font-weight: 400;
}
/* insert rule for link below */

a {
    text-decoration: none;
}
.highlight {
    text-decoration: underline; /* don't forget to complete */
}
