body {
    margin: 0;
    background-color: #7B0000;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    background-color: #620039;
}

header {
    padding: 30px;
    background-image: url(https://pixabay.com/get/eb37b20d2af0073ed1534705fb0938c9bd22ffd41cb4164795f2c578af/mt-fuji-2232246_1920.jpg);
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
}

header h1, header p {
    color: #7B0000;
    text-align: center;
}

section {
    padding: 0 20px;
}

.about h2 {
    color: #EC0000;
    margin-top: 60px;
    font-size: 28px;
}

.interests h2 {
    color: #FF0303;
    margin-top: 40px;
}

footer {
    margin-top: 60px;
    padding: 30px;
    background-color: #FF7600;
}

footer p {
    text-align: center;
    color: #B70000;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #7B3900;
}
